@using MonashBnBv3.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
}

<style>


    body {
        background-image: url(https://i.pinimg.com/originals/ef/7f/b1/ef7fb1b37078b6a2aef8e40710446bfa.jpg);
    }





    .btn-info {
        width: 100%
    }

    #loginForm {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 50px !important;
        border-radius: 12px;
        overflow: hidden;
        background: white;
        box-shadow: 0px 6px 30px rgba(0,0,0,0.2);
    }

    .loginHeader {
        background-color: rgb(255,255,255);
        text-align: center;
        padding-top: 18px;
        padding-right: 25px;
        padding-bottom: 15px;
        padding-left: 25px;
    }

    .form-group {
        margin-left: 56px;
    }
</style>



<div id="loginForm" class="d-flex flex-column justify-content-center">
    <div class="loginHeader">
        <h4>Login</h4>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log in" class="btn btn-info" />
            </div>
        </div>
        <div class="form-group">
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>

            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
        </div>
        <hr />
    }

    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}