@model IEnumerable<MonashBnBv3.Models.Room>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<style>
    * {
        box-sizing: border-box;
    }

    .navbar2 {
        overflow: hidden;
        background-color: #333;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }

    #map {
        position: fixed;
        margin-top: 115px;
        top: 5px;
        bottom: 0;
        width: 40%;
    }

    .search-again {
        position: fixed;
        margin-top: 64px;
        margin-left: 13px;
        top: 10px;
        bottom: 0;
        width: 100%;
        left: 3px;
    }

    .container2 {
        padding-left: 40px;
        position: absolute;
        right: 0;
        top: 64px;
        width: 60%;
    }

    .hotel-box {
        padding: 5px;
        border: 1px solid #e9ecef;
        margin-bottom: 25px;
        border-radius: 3px;
        top: 5px;
    }

    p {
        margin-top: 0;
        margin-bottom: 60px;
    }

    .hotel-info {
        top: 5px;
    }

    .btn-primary {
        cursor: pointer;
        background-color: rgb(244, 154, 153);
        border: none;
        box-shadow: 2px 2.5px 1.5px 0px rgba(0,0,0,0.075)
    }

        .btn-primary:hover {
            cursor: pointer;
            background-color: #ee7c72;
            border: none;
        }


    .result-text {
        font-size: 20px;
        margin-top: 20px;
        font-weight: 700;
    }
</style>

<div class="search-again">
    <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("Index","Rooms")'">
        SEARCH AGAIN&nbsp;
    </button>


</div>
<div id="map"></div>
<div class="container2 float-md-right col-12">
    <div class="result-text ">@ViewBag.FoundResults</div>
    @foreach (var item in Model)
    {
        <div class="hotel-box col-12 row">
            <div class="hotel-info" style="padding:30px;">
                @* @ViewBag.imageList*@
                @Html.ActionLink(item.Hotel.hotelName, "RoomInfo", new { @value = item.roomId})
                <p style="margin-top:20px;">@Html.DisplayFor(modelItem => item.Hotel.hotelDesc)</p>
                
            </div>
            </div>
    }
            </div>




            <table class="table" hidden>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Hotel.hotelName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hotel.hotelDesc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hotel.hotelLatitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hotel.hotelLongitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomType.roomTypeName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.roomPricePerNight)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="coordinates">
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Hotel.Images.Where(x => x.hotelId.Equals(item.hotelId)))*@
                        </td>
                        <td class="description">
                            @Html.DisplayFor(modelItem => item.Hotel.hotelName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hotel.hotelAddress)
                        </td>
                        <td class="latitude">
                            @Html.DisplayFor(modelItem => item.Hotel.hotelLatitude)
                        </td>
                        <td class="longitude">
                            @Html.DisplayFor(modelItem => item.Hotel.hotelLongitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomType.roomTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.roomPricePerNight)
                        </td>

                    </tr>

                }

            </table>
            @section Scripts {
                @Scripts.Render("~/bundles/mapbox")
            }
